.todoList_title {
    text-align: center;
    color: rgb(196, 152, 159);
    font-weight: lighter;
}

.todoList_content {
    margin: 0 auto;
}

.todo_list_task .todoList_delete {
    display: none;
    color: red;
}

.todo_list_task:hover .todoList_delete {
    display: block;
}